<ion-view title="Flock">	
	<ion-nav-buttons side="right">
      <button class="button button-icon icon ion-ios7-loop-strong" ng-click="refresh()"></button>
    </ion-nav-buttons>
	<ion-content scroll="false" padding="true" data-tap-disabled="true">
		<div ng-show="toShow" style="width:100%;height:100%; background-color: #e9e9e9;" id="map_canvas" ng-cloak></div>
		<div ng-show="!toShow" style="width:100%;height:100%; background-color: #e9e9e9; padding: 200 0 0 0;" ng-cloak>
			<h3 ng-cloak style="text-align: center;">You must enable location services in order to view the map.</h3>
		</div>

		

  	</ion-content>
</ion-view>