<ion-view title="Settings">
  <ion-content class="padding">
	<ul class="list">

	  <li class="item item-toggle">
	     Location Services
	     <label class="toggle">
	       <input type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>

 	  <li class="item range range-positive">
    	<i class="icon ion-ios7-sunny"></i>
    	<input type="range" name="volume" min="0" max="100" value="69">
    	<i class="ion-ios7-cloudy"></i>
  	  </li>

	</ul>
  </ion-content>
</ion-view>