<?xml version='1.0' encoding='utf-8'?>
<widget id="com.flock.client" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Flock</name>
    <description>
    	Track campus movement.
    </description>
    <author email="justintcosentino@gmail.com" href="http://justincosentino.com">
        Justin Cosentino and Callen Rain
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
